.venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.tmp

node_modules/
.env
.DS_Store

# VSCode / editor
.vscode/
.idea/
.env
/wgadmin_project/scripts/log.txt
/wgadmin_project/scripts/temp
wgadmin_project/=0.11.2
